@font-face {
    font-family:'NanumSquareR';
    src:url(../font/NanumSquareR.woff) format('woff');
}

@font-face {
    font-family:'NanumSquareB';
    src:url(../font/NanumSquareB.woff) format('woff');
}

*{margin:0px; padding:0px; box-sizing:border-box; font-family:NanumSquareB; word-break:keep-all;}
body{position:absolute; width:100%; height:100%; background:#000; overflow:hidden;}

#content_wrap{position:relative; width:100%; height:100%;}
#content{z-index:998; position:absolute; width:1000px; height:660px; top:50%; left:50%; margin:-330px 0 0 -500px; overflow:hidden; background:url(../images/content_bg.png) no-repeat; background-position:center; background-size:cover;}

/* 정오답 알림 창 */
#alert_wrap{z-index:99; display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
#alert_wrap #alert_correct{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_correct.png);}
#alert_wrap #alert_wrong{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_wrong.png);}
#alert_wrap #alert_re{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_re.png);}

/**************  드래그 앤 드롭  ***************/
.drag_quiz_wrap .question_wrap{display:table; margin:50px auto 0; width:922px; height:97px;}
.drag_quiz_wrap .question_wrap .question{display:table-cell; vertical-align:middle; text-align:center; width:100%; color:#3c3c3c; font-size:30px;}
.drag_quiz_wrap .btnCheck{display:none; position:absolute; width:135px; height:37px; right:70px; bottom:50px; background:url(../images/drag_chk.png); cursor:pointer;}
.drag_quiz_wrap .btnCheck:hover{background:url(../images/drag_chk_over.png);}
.drag_quiz_wrap .btnRetry{display:none; position:absolute; width:191px; height:36px; right:70px; bottom:50px; background:url(../images/drag_retry.png); cursor:pointer;}
.drag_quiz_wrap .btnRetry:hover{background:url(../images/drag_retry_over.png);}

.drag_wrap{position:absolute; width:100%; height:100%; top:0; left:0; margin:0;}
.drag_obj{z-index:10; position:absolute; display:table; width:200px; height:50px; background:linear-gradient(to right, #60c6c2 7%, #1699c1 93%); text-align:center; border-radius:10px; cursor:pointer;}
.drag_obj.correct{background:linear-gradient(to right, #62c67b 7%, #15c140 93%);}
.drag_obj.wrong{background:linear-gradient(to right, #c66262 7%, #c11515 93%);}
.drag_obj p{display:table-cell; color:#fff; font-size:18px; text-align:center; vertical-align:middle;}
.drag_view{position:absolute; display:table; width:400px; min-height:50px; border:2px solid #2581aa; border-radius:10px; background:#fff;}
.drag_view p{display:table-cell; text-align:center; vertical-align:middle; padding:10px 5px; font-size:18px; color:#3c3c3c;}
.drop_obj{position:absolute; width:200px; height:50px; background:#bfcfdd; border:1px solid #5b93b7; border-radius:10px; text-align:center;}
.drag_result{position:absolute; width:16px; height:16px; top:3px; left:3px; z-index:11;}

.drag_view{left:65px;}
#drag_view1{top:189px;}
#drag_view2{top:285px;}
#drag_view3{top:375px;}
#drag_view4{top:459px;}

.drop_obj{left:480px;}
#drop_obj1{top:195px;}
#drop_obj2{top:285px;}
#drop_obj3{top:375px;}
#drop_obj4{top:465px;}

.drag_obj{left:735px;}
#drag_obj1{top:195px;}
#drag_obj2{top:285px;}
#drag_obj3{top:375px;}
#drag_obj4{top:465px;}